{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}About - Jiten Rai{% endblock %}
{% block content %}
<section class="aboutpage">
    <div class="about_intro">
        <h2>Hi, I'm Jiten Rai.</h2>
        <p>I am a student passionate about daily, gradual, and consistent improvement.</p>
        <p>Welcome to my world of curiosity and creativity, where passion meets purpose and drives meaningful change. I am Jiten Rai, a dedicated individual with a relentless drive to explore, innovate, and inspire. Through my journey, I have cultivated a deep appreciation for learning and growing, fueling my commitment to making a positive impact on the world around me.</p>
    </div>
</section>
<section class="about_passion">
    <div class="container">
        <h3>Passion and Interests</h3>
        <p>I am passionate about learning and find football interesting.</p>
        <p>I am a passionate Python programming enthusiast with a strong interest in machine learning and data science. My curiosity drives me to explore the latest technologies, and I enjoy solving complex problems through code and data-driven solutions. Alongside my technical pursuits, I am deeply passionate about football and physical fitness, both of which inspire me to stay disciplined and focused in all aspects of my life.</p>
    </div>
</section>
<section class="about_mission">
    <div class="container">
        <h3>Mission or Vision</h3>
        <p>My mission is to achieve stability and freedom in life.</p>
        <p>I strive to succeed, aiming for consistent growth and lessons.</p>
        <p>Through my work, I aim to be happy and satisfied.</p>
    </div>
</section>
<section class="skills-section">
    <div class="container">
        <h2>Skills</h2>
        <div class="skills-list">
            <ul id="skills-list">
                {% for skill in skills %}
                    <li>{{ skill.name }}</li>
                {% endfor %}
            </ul>
            <input type="text" id="name" placeholder="Enter new skill">
            <button id="add-new-skill">Add New Skill</button>
        </div>
    </div>
</section>
<section class="experience-section">
    <div class="">
        <h2>Experience</h2>
        <ul id="experience-list">
            {% for exp in experiences %}
                <li>{{ exp.position }} at {{ exp.company }} ({{ exp.years }} years)</li>
            {% endfor %}
        </ul>
    </div>
</section>
<div class="js">
    <button id="home-btn">Go to Home</button>
</div>
{% endblock %}