{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %}Resume - Jiten Rai{% endblock %}
{% block content %}
<section class="resume_content">
    <div class="container">
        <h2>Professional Summary</h2>
        <p>An enthusiastic learner with a passion for building intelligent systems through Python programming and machine learning. Skilled in developing data-driven solutions, with a strong focus on model accuracy and practical applications. Dedicated to creating user-friendly and impactful machine learning models, while maintaining a deep interest in innovation and problem-solving.</p>
    </div>
</section>
<section class="resume_content">
    <div class="container">
        <h2>Education</h2>
        <ul>
            <li>School Leaving Certificate (SLC) - Loyalty Academy, 2015</li>
            <li>+2 Levels - Xavier International College, 2017</li>
            <li>Bachelor of Information Technology - Texas College of Management and IT, since 2022</li>
        </ul>
    </div>
</section>
<section class="resume_content">
    <div class="container">
        <h2>Work Experience</h2>
        {% for exp in experiences %}
            <div class="exp-item">
                <h3>{{ exp.position }}</h3>
                <p>{{ exp.company }}</p>
                <p>{{ exp.years }} years</p>
            </div>
        {% endfor %}
        <p>An AI engineer wannabe. Beginner in Machine Learning.</p>
    </div>
</section>
<section class="resume_content">
    <div class="container">
        <h2>Skills</h2>
        <ul id="skills-list">
            {% for skill in skills %}
                <li>{{ skill.name }}</li>
            {% endfor %}
        </ul>
    </div>
</section>
<section class="resume_content">
    <div class="container">
        <h2>Projects or Portfolio</h2>
        <p><a href="https://github.com/Jitenrai21">My GitHub Profile Link</a> - This is my GitHub profile that consists of the various projects that I have worked on.</p>
    </div>
</section>
<section class="resume_content">
    <div class="container">
        <h2>Achievements and Awards</h2>
        <ul>
            <li>First Position in Texas College Annual ECA meet, Futsal (boys)</li>
        </ul>
    </div>
</section>
<section class="resume_content">
    <div class="container">
        <h2>References</h2>
        <p>Available upon request.</p>
    </div>
</section>
<section class="resume_content">
    <div class="container">
        <h2>Contact Information</h2>
        <ul>
            <li>Email: <a href="mailto:raijiten96@gmail.com">raijiten96@gmail.com</a></li>
            <li>Phone: 9860270335</li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/jiten-rai-42b540264/">LinkedIn Profile</a></li>
        </ul>
    </div>
</section>
{% endblock %}