:root {
    --bg-color : black;
    --main-color : rgb(22, 17, 59) ;
}
body{
    background-color: black;
    font-size: large;
    font-style: italic;
    color: aliceblue;
}

header{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: aliceblue;
}
.blogpart{
    background-color: var(--main-color);
    height: 1000px;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    text-align: center;
}