:root {
    --bg-color : black;
    --main-color : rgb(22, 17, 59) ;
}
body {
    background-color: black;
}
h1 , h3, h4, h5, p, a, button{
    color: rgb(250, 235, 215);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
h2 {
    color: aliceblue;
    text-decoration: none;
    font-family: cursive;
}
img{
    width: 100%;
}
.logo{
    width: 10%;
    padding-left: 30px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: fit-content;
}
.menu {
    flex: 1;
}
.menu ul{
    display: flex;
    list-style: none;
    justify-content: right;
}
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 20px;
}
.menu ul li a:hover{
    font-weight: bold;
}
.right{
    width: 50%;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
}
.left{
    width: 50%;
    background-color: var(--main-color);
    text-decoration: none;
    padding-left: 100px;
    
}
.right img{
    border-radius: 20%;
    height: 70%;
    width: 70%;
}
.intro{
    background-color: var(--main-color);
    width: 100%;
}

.social-links{
    display: flex;
    justify-content: left;
    list-style: none;
}
.social-links a{
    padding-right: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_container{
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
}
  .right_footer{
    width: 10%;
    padding-right: 30px;
}
.left_footer{
    width: 90%;
    
}  


